In [31]:
import pandas as pd
import numpy as np

# Visualización
# ----------------------------
import seaborn as sn
import matplotlib.pyplot as plt

#  Gestión de warnings
# ------------------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

# Para ver todas las columnas
# ==================================
pd.options.display.max_columns = None

In [32]:
df_nacionalidad = pd.read_excel('datos/inmigracion_nacionalid_madrid_2022.xlsx', skiprows=11)
df_nacionalidad.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,Venezuela,51983.0,40548.0,NaN,11435.0,-1692.0,NaN,28.201144,-4.005682,NaN
1,NaN,Colombia,45295.0,33599.0,NaN,11696.0,-681.0,NaN,34.810560,-2.424178,NaN
2,NaN,Rumanía,39729.0,42445.0,NaN,-2716.0,2463.0,NaN,-6.398869,9.227830,NaN
3,NaN,Perú,37398.0,27411.0,NaN,9987.0,-388.0,NaN,36.434278,-0.905844,NaN
4,NaN,China,35985.0,38164.0,NaN,-2179.0,-1262.0,NaN,-5.709569,-5.363138,NaN

In [33]:
df_barrios = pd.read_excel('datos/inmigracion_por_barrios.xlsx', skiprows=9)
df_barrios.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,01. Centro,140853.0,102714.0,38133.0,27.072906,NaN,141323.0,104804.0,36512.0,25.835851
1,NaN,011. Palacio,23602.0,18646.0,4955.0,20.993984,NaN,23706.0,18971.0,4734.0,19.969628
2,NaN,012. Embajadores,46709.0,32652.0,14054.0,30.088420,NaN,47274.0,33426.0,13846.0,29.288827
3,NaN,013. Cortes,10822.0,7822.0,2999.0,27.712068,NaN,10883.0,7982.0,2900.0,26.647064
4,NaN,014. Justicia,18267.0,13535.0,4731.0,25.899162,NaN,18169.0,13831.0,4336.0,23.864825

In [34]:
df_inmigracion = pd.read_csv('datos/Immigration_Madrid_2021.csv', index_col=0)
df_inmigracion.head()

,Gender,Age,Studies,Nationality,Administrative_situation,Working
0,Women,51-65,College,España,Community,No
1,Women,51-65,College,Venezuela,ART,No
2,Women,18-30,Pre-college,Honduras,Refugee,No
3,Women,18-30,Pre-college,Venezuela,Community,No
4,Women,18-30,Pre-college,República Dominicana,Community_familiar,No

> Hacemos EDA  y limpieza de los archihvos:
>
>- Tenemos datos para el 2021 y 2022 y decidimos quedarnos con los datos del 2021
> - Para el df de  nacionalidad, nos quedamos con el nº de habit. y el % de incremento.
>- En el df de distribución por barrios, nos quedamos con distritos en lugar de por barrios.

> ### Limpieza archivo Nacionalidad

In [35]:
# nos quitamos las columnas que no queremos

df_nacionalidad.drop(['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5','Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 10'], axis=1, inplace=True)

In [36]:
# renombramos las columnas

columnas = {'Unnamed: 1':'Nacionalidad', 'Unnamed: 3':'nº_habitantes', 'Unnamed: 9':'Incremento(%)'}
df_nacionalidad.rename(columns=columnas, inplace=True)

In [37]:
df_nacionalidad.head()

  Nacionalidad  nº_habitantes  Incremento(%)
0    Venezuela        40548.0      -4.005682
1     Colombia        33599.0      -2.424178
2      Rumanía        42445.0       9.227830
3         Perú        27411.0      -0.905844
4        China        38164.0      -5.363138

> ### Limpieza archivos Barrios

In [38]:
# nos quitamos las columnas que no queremos

df_barrios.drop(['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 5','Unnamed: 6', 'Unnamed: 4', 'Unnamed: 7'], axis=1, inplace=True)

In [39]:
# renombramos las columnas

columnas2 = {'Unnamed: 1':'Distritos', 'Unnamed: 8':'Nacionales', 'Unnamed: 9':'Otras_nacionalidades', 'Unnamed: 10': 'Extranjeros(%)'}
df_barrios.rename(columns=columnas2, inplace=True)

In [40]:
# Eliminamos las filas dónde aparecen los barrios para quedarnos solo con los distritos

df_barrios['Distritos'].unique()

array(['01. Centro', '011. Palacio', '012. Embajadores', '013. Cortes',
       '014. Justicia', '015. Universidad', '016. Sol', '02. Arganzuela',
       '021. Imperial', '022. Acacias', '023. Chopera', '024. Legazpi',
       '025. Delicias', '026. Palos de la Frontera', '027. Atocha',
       '03. Retiro', '031. Pacífico', '032. Adelfas', '033. Estrella',
       '034. Ibiza', '035. Los Jerónimos', '036. Niño Jesús',
       '04. Salamanca', '041. Recoletos', '042. Goya',
       '043. Fuente del Berro', '044. Guindalera', '045. Lista',
       '046. Castellana', '05. Chamartín', '051. El Viso',
       '052. Prosperidad', '053. Ciudad Jardín', '054. Hispanoamérica',
       '055. Nueva España', '056. Castilla', '06. Tetuán',
       '061. Bellas Vistas', '062. Cuatro Caminos', '063. Castillejos',
       '064. Almenara', '065. Valdeacederas', '066. Berruguete',
       '07. Chamberí', '071. Gaztambide', '072. Arapiles',
       '073. Trafalgar', '074. Almagro', '075. Ríos Rosas',
       '076. Vallehermoso', '08. Fuencarral-El Pardo', '081. El Pardo',
       '082. Fuentelarreina', '083. Peñagrande', '084. Pilar',
       '085. La Paz', '086. Valverde', '087. Mirasierra',
       '088. El Goloso', '09. Moncloa-Aravaca', '091. Casa de Campo',
       '092. Argüelles', '093. Ciudad Universitaria', '094. Valdezarza',
       '095. Valdemarín', '096. El Plantío', '097. Aravaca', '10. Latina',
       '101. Los Cármenes', '102. Puerta del Ángel', '103. Lucero',
       '104. Aluche', '105. Campamento', '106. Cuatro Vientos',
       '107. Águilas', '11. Carabanchel', '111. Comillas', '112. Opañel',
       '113. San Isidro', '114. Vista Alegre', '115. Puerta Bonita',
       '116. Buenavista', '117. Abrantes', '12. Usera', '121. Orcasitas',
       '122. Orcasur', '123. San Fermín', '124. Almendrales',
       '125. Moscardó', '126. Zofío', '127. Pradolongo',
       '13. Puente de Vallecas', '131. Entrevías', '132. San Diego',
       '133. Palomeras Bajas', '134. Palomeras Sureste', '135. Portazgo',
       '136. Numancia', '14. Moratalaz', '141. Pavones', '142. Horcajo',
       '143. Marroquina', '144. Media Legua', '145. Fontarrón',
       '146. Vinateros', '15. Ciudad Lineal', '151. Ventas',
       '152. Pueblo Nuevo', '153. Quintana', '154. Concepción',
       '155. San Pascual', '156. San Juan Bautista', '157. Colina',
       '158. Atalaya', '159. Costillares', '16. Hortaleza',
       '161. Palomas', '162. Piovera', '163. Canillas',
       '164. Pinar del Rey', '165. Apóstol Santiago', '166. Valdefuentes',
       '17. Villaverde',
       '171. Villaverde Alto, Casco Histórico de Villaverde',
       '172. San Cristóbal', '173. Butarque', '174. Los Rosales',
       '175. Ángeles', '18. Villa de Vallecas',
       '181. Casco Histórico de Vallecas', '182. Santa Eugenia',
       '183. Ensanche de Vallecas', '19. Vicálvaro',
       '191. Casco Histórico de Vicálvaro', '192. Valdebernardo',
       '193. Valderrivas', '194. El Cañaveral', '20. San Blas-Canillejas',
       '201. Simancas', '202. Hellín', '203. Amposta', '204. Arcos',
       '205. Rosas', '206. Rejas', '207. Canillejas', '208. El Salvador',
       '21. Barajas', '211. Alameda de Osuna', '212. Aeropuerto',
       '213. Casco Histórico de Barajas', '214. Timón', '215. Corralejos',
       nan,
       "NOTAS:  El 'Total' de la Ciudad de Madrid incluye 'Apátridas', 'No consta nacionalidad' y 'No consta Distrito'",
       "                 Los 'Total' de Distrito incluyen 'No consta Barrio'",
       'FUENTE: Elaboración propia a partir del Padrón Municipal de Habitantes (datos provisionales). Subdirección General de Estadística'],
      dtype=object)

In [41]:
# sacamos las filas por distritos 
df_distritos = df_barrios.loc[[0,7,15,22,29,36,43,50,59,67,75,83,91,98,105,115,122,128,132,137,146]]

In [42]:
# ordenamos los índices
df_distritos.head().reset_index(drop=True)

        Distritos  Nacionales  Otras_nacionalidades  Extranjeros(%)
0      01. Centro    104804.0               36512.0       25.835851
1  02. Arganzuela    137646.0               16195.0       10.526418
2      03. Retiro    108100.0               10182.0        8.608169
3   04. Salamanca    124069.0               21641.0       14.852002
4   05. Chamartín    130623.0               14628.0       10.070843

> ### Limpieza archivo Inmigración

In [43]:
# Cambiamos a español el idioma de las columnas

columnas3 = {'Gender':'Genero', 'Age':'Edad', 'Studies':'Estudios', 'Nationality': 'Nacionalidad', 'Administrative_situation':'Situación_administrativa', 'Working':'Trabaja' }
df_inmigracion.rename(columns=columnas3, inplace=True)

In [44]:
df_inmigracion.head()

,Genero,Edad,Estudios,Nacionalidad,Situación_administrativa,Trabaja
0,Women,51-65,College,España,Community,No
1,Women,51-65,College,Venezuela,ART,No
2,Women,18-30,Pre-college,Honduras,Refugee,No
3,Women,18-30,Pre-college,Venezuela,Community,No
4,Women,18-30,Pre-college,República Dominicana,Community_familiar,No

> ### Unimos los archivos

In [45]:
# unimos los dos df que tinen la misma columna (Nacionalidad) pero OJO!! los datos no están sacados de la misma fuente por lo que no tienen un orde
df_final = df_inmigracion.merge(df_nacionalidad, how = 'outer')

In [46]:
df_final.head(100)

,Genero,Edad,Estudios,Nacionalidad,Situación_administrativa,Trabaja,nº_habitantes,Incremento(%)
0,Women,51-65,College,España,Community,No,NaN,NaN
1,Women,18-30,College,España,Community,Yes,NaN,NaN
2,Men,18-30,Elementary_school,España,Community,No,NaN,NaN
3,Men,18-30,Elementary_school,España,Community,No,NaN,NaN
4,Men,18-30,Elementary_school,España,Community,No,NaN,NaN
...,...,...,...,...,...,...,...,...
95,Men,51-65,Pre-college,España,Community,No,NaN,NaN
96,Men,51-65,Elementary_school,España,Community,No,NaN,NaN
97,Men,18-30,High-school,España,Community,No,NaN,NaN
98,Men,18-30,High-school,España,Community,Yes,NaN,NaN
99,Men,18-30,High-school,España,Community,No,NaN,NaN

In [47]:
df_final.dtypes

Genero                       object
Edad                         object
Estudios                     object
Nacionalidad                 object
Situación_administrativa     object
Trabaja                      object
nº_habitantes               float64
Incremento(%)               float64
dtype: object

In [48]:
for col in df_final.columns:    
    print(col)
    print(df_final[col].unique())
    print(".......")

Genero
['Women' 'Men' nan]
.......
Edad
['51-65' '18-30' '31-50' '4-17' ' + 65' nan]
.......
Estudios
['College' 'Elementary_school' 'Pre-college' 'Vocational_training'
 'High-school' 'Unknown' 'No_studies' nan]
.......
Nacionalidad
['España' 'Venezuela' 'Honduras' 'República Dominicana' 'Perú' 'Ecuador'
 'Camerún' 'Costa Rica' 'Nicaragua' 'Marruecos' 'Colombia' 'Paraguay'
 'Malí' 'Bolivia' 'Polonia' 'Argentina' 'Cuba' 'Filipinas'
 'Guinea Ecuatorial' 'El Salvador' 'República de Corea' 'Senegal'
 'Jamaica' 'Rumania' 'Portugal' 'Sahara' 'China' 'República Árabe Siria'
 'Cabo Verde' 'Somalia' 'Argelia' 'Chile' 'Togo' 'Brasil' 'Bangladesh'
 'Kenya' 'India' 'Gambia' 'Guinea Bissau' 'Nigeria'
 'República Democrática del Congo' 'Guinea' 'Sierra Leona' 'Ucrania'
 'Guatemala' 'Costa de Marfil' 'Rumanía' 'Italia' 'Francia'
 'Estados Unidos de América' 'Reino Unido' 'Bulgaria' 'México' 'Alemania'
 'Rusia' 'Países Bajos' 'Irán' 'Irlanda' 'Pakistán' 'Georgia' 'Mali'
 'Bélgica' 'Japón' 'Uruguay' 'Grecia' 'Siria' 'Moldavia' 'Turquía' 'Suiza'
 'Egipto' 'Suecia' 'Irak' 'Panamá' 'Nepal' 'Canadá' 'Hungría' 'Libia'
 'Austria' 'Líbano' 'Túnez' 'Armenia' nan 'Resto de países (1)'
 'NOTAS: (1) Países con menos de 500 residentes en la Ciudad de Madrid a 1 de julio de 2022'
 "                El 'Total' de la población de la Ciudad de Madrid incluye 'Apátridas' y 'No consta'"
 'FUENTE: Elaboración propia a partir del Padrón Municipal de Habitantes (datos provisionales). Subdirección General de Estadística']
.......
Situación_administrativa
['Community' 'Irregular' 'ART' 'Refugee' 'Community_familiar' 'Student'
 nan]
.......
Trabaja
['No' 'Yes' nan]
.......
nº_habitantes
[   nan 40548. 25112. 16577. 27411. 22269.   711.   635.  7882. 22132.
 33599. 19135. 12414.  5602.  6618.  6725. 13763.   876.  4905.  1015.
  2444. 12864. 38164.  1246.  2850.  9313.  6453.  2086.  1372.   847.
  9202.  1544.   506. 42445. 29154. 12032.  7702.  7927.  7387.  5509.
  5373.  2697.  1876.  1467.  1336.  1494.  1356.  1253.  1109.  1110.
  1011.   906.   894.   914.   802.   694.   739.   562.   599.   656.
   622.   595.   563.   574.   443.   476.   510. 10749.]
.......
Incremento(%)
[         nan  -4.00568182  -3.44647064  -3.48246124  -0.90584363
  -2.85094694   4.25925926  10.57542768  -6.92041522   2.49795918
  -2.4241777    1.97836396  -5.22012579  -4.80056477  -6.6903984
   8.4159308   -9.16142251   0.22172949   0.82793377  -9.02578797
   9.77814297  -2.56681262  -5.36313799  -0.79617834   0.4505427
  -4.54356846  -1.72413793  19.07467532  -8.17610063   5.47112462
  12.10578419   4.04880754  -2.45398773   9.22782961  -2.75252525
 -11.49021099  -1.54715858  -0.72570891   4.10773106  -0.60529634
  -5.16440007   0.90834021   9.6933729   -4.84076433  -4.6373365
  -3.85423966   9.28829916  -4.88431877   6.27650551  -8.23293173
  -2.97674419  -5.18292683  -5.86592179 -13.32194705   1.51098901
   0.91503268   1.07398568   8.30188679  -1.52354571  -0.33444816
  -4.315197    18.31578947   1.49625935  20.38043478   2.49625935
  -6.40625     27.61394102   9.76138829  -0.99357688]
.......

In [49]:
df_final.to_csv('datos/inmigracion1.csv')

In [50]:
df_distritos['Distritos'].unique()

array(['01. Centro', '02. Arganzuela', '03. Retiro', '04. Salamanca',
       '05. Chamartín', '06. Tetuán', '07. Chamberí',
       '08. Fuencarral-El Pardo', '09. Moncloa-Aravaca', '10. Latina',
       '11. Carabanchel', '12. Usera', '13. Puente de Vallecas',
       '14. Moratalaz', '15. Ciudad Lineal', '16. Hortaleza',
       '17. Villaverde', '18. Villa de Vallecas', '19. Vicálvaro',
       '20. San Blas-Canillejas', '21. Barajas'], dtype=object)

-Nuevo dataset pero del año 2022

In [51]:
df_distritos2 = pd.read_excel('datos/nacionalidad_distritos.xlsx', skiprows=12)
df_distritos2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,Venezuela,51983.0,3148.0,1671.0,1039.0,2193.0,1187.0,2607.0,1269.0,2657.0,1062.0,3760.0,4546.0,2163.0,4918.0,1481.0,4025.0,2803.0,2868.0,3003.0,1585.0,3418.0,580.0
1,NaN,Colombia,45295.0,2061.0,1139.0,668.0,1334.0,762.0,1764.0,1122.0,1706.0,807.0,3958.0,7093.0,3320.0,4385.0,964.0,3385.0,1735.0,3569.0,1595.0,924.0,2545.0,459.0
2,NaN,Rumanía,39729.0,765.0,608.0,382.0,647.0,516.0,1167.0,517.0,1534.0,885.0,4226.0,5248.0,1992.0,4428.0,1122.0,2478.0,1296.0,3488.0,2940.0,2438.0,2519.0,533.0
3,NaN,Perú,37398.0,1177.0,786.0,589.0,1122.0,623.0,1689.0,918.0,1259.0,701.0,4146.0,5073.0,2374.0,4982.0,1008.0,2994.0,1069.0,2662.0,1275.0,824.0,1914.0,213.0
4,NaN,China,35985.0,1403.0,1078.0,469.0,655.0,517.0,1904.0,679.0,1404.0,727.0,2387.0,4538.0,9614.0,3393.0,457.0,1920.0,1154.0,1289.0,771.0,437.0,1001.0,188.0

In [52]:
df_distritos2.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [53]:
columnas = {'Unnamed: 1': 'Nacionalidad', 
            'Unnamed: 2': 'Ciudad-Madrid',
            'Unnamed: 3': 'Centro', 
            'Unnamed: 4': 'Arganzuela', 
            'Unnamed: 5': 'Retiro', 
            'Unnamed: 6': 'Salamanca',
            'Unnamed: 7': 'Chamartín',
            'Unnamed: 8': 'Tetuán',
            'Unnamed: 9': 'Chamberí',
            'Unnamed: 10': 'Fuencarral-El-Pardo',
            'Unnamed: 11': 'MOncloa-Aravaca',
            'Unnamed: 12': 'Latina',
            'Unnamed: 13': 'Carabanchel',
            'Unnamed: 14': 'Usera',
            'Unnamed: 15': 'Puente-de-Vallecas',
            'Unnamed: 16': 'Moratalaz',
            'Unnamed: 17': 'Ciudad-Lineal',
            'Unnamed: 18': 'Hortaleza',
            'Unnamed: 19': 'Villaverde',
            'Unnamed: 20': 'Villa-de-Vallecas',
            'Unnamed: 21': 'VIcalvaro',
            'Unnamed: 22': 'San-Blas-Canillejas',
            'Unnamed: 23': 'Barajas'}

In [54]:
df_distritos2.rename(columns = columnas, inplace=True)

In [55]:
df_distritos2.drop('Unnamed: 0', axis = 1, inplace=True)

In [56]:
df_distritos2.head()

,Nacionalidad,Ciudad-Madrid,Centro,Arganzuela,Retiro,Salamanca,Chamartín,Tetuán,Chamberí,Fuencarral-El-Pardo,MOncloa-Aravaca,Latina,Carabanchel,Usera,Puente-de-Vallecas,Moratalaz,Ciudad-Lineal,Hortaleza,Villaverde,Villa-de-Vallecas,VIcalvaro,San-Blas-Canillejas,Barajas
0,Venezuela,51983.0,3148.0,1671.0,1039.0,2193.0,1187.0,2607.0,1269.0,2657.0,1062.0,3760.0,4546.0,2163.0,4918.0,1481.0,4025.0,2803.0,2868.0,3003.0,1585.0,3418.0,580.0
1,Colombia,45295.0,2061.0,1139.0,668.0,1334.0,762.0,1764.0,1122.0,1706.0,807.0,3958.0,7093.0,3320.0,4385.0,964.0,3385.0,1735.0,3569.0,1595.0,924.0,2545.0,459.0
2,Rumanía,39729.0,765.0,608.0,382.0,647.0,516.0,1167.0,517.0,1534.0,885.0,4226.0,5248.0,1992.0,4428.0,1122.0,2478.0,1296.0,3488.0,2940.0,2438.0,2519.0,533.0
3,Perú,37398.0,1177.0,786.0,589.0,1122.0,623.0,1689.0,918.0,1259.0,701.0,4146.0,5073.0,2374.0,4982.0,1008.0,2994.0,1069.0,2662.0,1275.0,824.0,1914.0,213.0
4,China,35985.0,1403.0,1078.0,469.0,655.0,517.0,1904.0,679.0,1404.0,727.0,2387.0,4538.0,9614.0,3393.0,457.0,1920.0,1154.0,1289.0,771.0,437.0,1001.0,188.0

In [57]:
df_distritos2.head(50)

,Nacionalidad,Ciudad-Madrid,Centro,Arganzuela,Retiro,Salamanca,Chamartín,Tetuán,Chamberí,Fuencarral-El-Pardo,MOncloa-Aravaca,Latina,Carabanchel,Usera,Puente-de-Vallecas,Moratalaz,Ciudad-Lineal,Hortaleza,Villaverde,Villa-de-Vallecas,VIcalvaro,San-Blas-Canillejas,Barajas
0,Venezuela,51983.0,3148.0,1671.0,1039.0,2193.0,1187.0,2607.0,1269.0,2657.0,1062.0,3760.0,4546.0,2163.0,4918.0,1481.0,4025.0,2803.0,2868.0,3003.0,1585.0,3418.0,580.0
1,Colombia,45295.0,2061.0,1139.0,668.0,1334.0,762.0,1764.0,1122.0,1706.0,807.0,3958.0,7093.0,3320.0,4385.0,964.0,3385.0,1735.0,3569.0,1595.0,924.0,2545.0,459.0
2,Rumanía,39729.0,765.0,608.0,382.0,647.0,516.0,1167.0,517.0,1534.0,885.0,4226.0,5248.0,1992.0,4428.0,1122.0,2478.0,1296.0,3488.0,2940.0,2438.0,2519.0,533.0
3,Perú,37398.0,1177.0,786.0,589.0,1122.0,623.0,1689.0,918.0,1259.0,701.0,4146.0,5073.0,2374.0,4982.0,1008.0,2994.0,1069.0,2662.0,1275.0,824.0,1914.0,213.0
4,China,35985.0,1403.0,1078.0,469.0,655.0,517.0,1904.0,679.0,1404.0,727.0,2387.0,4538.0,9614.0,3393.0,457.0,1920.0,1154.0,1289.0,771.0,437.0,1001.0,188.0
5,Italia,32131.0,4494.0,1867.0,1294.0,3210.0,1563.0,1847.0,2392.0,1742.0,1188.0,1265.0,1444.0,601.0,1078.0,519.0,1947.0,2073.0,493.0,912.0,435.0,1285.0,482.0
6,Honduras,28469.0,309.0,359.0,351.0,461.0,547.0,1084.0,416.0,1306.0,513.0,3640.0,5611.0,2144.0,4380.0,492.0,1734.0,593.0,2191.0,655.0,375.0,1187.0,121.0
7,Ecuador,21860.0,554.0,560.0,217.0,633.0,326.0,1064.0,380.0,548.0,317.0,2073.0,3472.0,1633.0,3169.0,443.0,2090.0,387.0,2014.0,479.0,411.0,989.0,101.0
8,Marruecos,21428.0,1035.0,366.0,189.0,389.0,328.0,1277.0,343.0,947.0,339.0,1461.0,2274.0,874.0,3291.0,266.0,839.0,425.0,3358.0,1569.0,816.0,756.0,286.0
9,Paraguay,20406.0,363.0,451.0,197.0,445.0,571.0,3190.0,470.0,1093.0,662.0,2370.0,2543.0,939.0,1555.0,408.0,1707.0,679.0,1281.0,228.0,311.0,744.0,199.0
10,República Dominicana,15488.0,333.0,471.0,137.0,334.0,242.0,1778.0,333.0,537.0,296.0,1359.0,1427.0,1116.0,1986.0,218.0,1309.0,279.0,1899.0,310.0,134.0,921.0,69.0
11,Filipinas,14173.0,1315.0,569.0,141.0,595.0,632.0,5296.0,758.0,466.0,627.0,823.0,521.0,395.0,498.0,79.0,649.0,292.0,214.0,39.0,45.0,194.0,25.0
12,Portugal,13020.0,967.0,464.0,294.0,838.0,597.0,795.0,637.0,850.0,405.0,693.0,823.0,365.0,789.0,342.0,864.0,984.0,397.0,526.0,388.0,808.0,194.0
13,Francia,12494.0,2267.0,582.0,504.0,1404.0,758.0,554.0,931.0,399.0,440.0,305.0,220.0,110.0,191.0,83.0,745.0,2144.0,100.0,87.0,75.0,382.0,213.0
14,Bolivia,11462.0,201.0,259.0,149.0,228.0,188.0,351.0,194.0,266.0,156.0,1194.0,1995.0,2400.0,1181.0,174.0,757.0,347.0,657.0,179.0,140.0,392.0,54.0
15,Ucrania,10689.0,212.0,196.0,156.0,256.0,236.0,257.0,170.0,417.0,234.0,1883.0,1300.0,534.0,974.0,217.0,448.0,392.0,1810.0,276.0,203.0,455.0,63.0
16,Brasil,9361.0,659.0,259.0,319.0,356.0,347.0,532.0,313.0,365.0,239.0,1120.0,1552.0,431.0,683.0,156.0,433.0,370.0,471.0,217.0,122.0,335.0,82.0
17,Nicaragua,8309.0,151.0,134.0,108.0,212.0,276.0,351.0,163.0,307.0,196.0,850.0,1134.0,565.0,1178.0,313.0,889.0,236.0,521.0,151.0,127.0,407.0,40.0
18,Estados Unidos de América,8261.0,2256.0,472.0,471.0,851.0,430.0,424.0,821.0,296.0,485.0,226.0,165.0,116.0,157.0,209.0,272.0,287.0,62.0,57.0,32.0,119.0,53.0
19,Argentina,8227.0,1007.0,423.0,310.0,657.0,337.0,484.0,468.0,438.0,307.0,439.0,593.0,319.0,430.0,111.0,500.0,508.0,228.0,162.0,89.0,295.0,122.0
20,Reino Unido,7762.0,1850.0,442.0,312.0,625.0,538.0,416.0,646.0,322.0,404.0,305.0,234.0,120.0,166.0,67.0,373.0,463.0,82.0,70.0,50.0,186.0,91.0
21,Cuba,7535.0,521.0,290.0,184.0,211.0,181.0,375.0,226.0,296.0,146.0,514.0,861.0,515.0,704.0,150.0,641.0,328.0,418.0,247.0,141.0,498.0,88.0
22,Bulgaria,6948.0,225.0,138.0,104.0,121.0,117.0,198.0,71.0,222.0,139.0,823.0,877.0,329.0,675.0,229.0,691.0,281.0,502.0,243.0,289.0,595.0,79.0
23,México,6318.0,972.0,292.0,344.0,962.0,360.0,341.0,606.0,304.0,297.0,248.0,260.0,93.0,162.0,64.0,276.0,343.0,66.0,80.0,46.0,160.0,42.0
24,Bangladesh,6193.0,2576.0,334.0,35.0,29.0,28.0,248.0,63.0,23.0,17.0,243.0,442.0,227.0,718.0,35.0,159.0,29.0,802.0,66.0,54.0,62.0,3.0
25,El Salvador,5706.0,167.0,105.0,66.0,106.0,157.0,232.0,94.0,185.0,67.0,493.0,842.0,399.0,929.0,128.0,388.0,162.0,528.0,131.0,131.0,353.0,43.0
26,Alemania,5551.0,741.0,236.0,232.0,579.0,434.0,279.0,419.0,701.0,321.0,161.0,177.0,81.0,109.0,51.0,266.0,388.0,47.0,50.0,43.0,141.0,95.0
27,Polonia,5454.0,326.0,176.0,105.0,167.0,152.0,223.0,158.0,197.0,143.0,698.0,661.0,288.0,417.0,90.0,259.0,246.0,477.0,160.0,259.0,189.0,63.0
28,Chile,3329.0,440.0,160.0,114.0,309.0,139.0,162.0,284.0,170.0,126.0,208.0,183.0,94.0,150.0,89.0,210.0,157.0,100.0,64.0,35.0,115.0,20.0
29,Rusia,2781.0,267.0,123.0,111.0,214.0,141.0,169.0,120.0,161.0,112.0,164.0,136.0,83.0,171.0,44.0,163.0,211.0,117.0,83.0,42.0,106.0,43.0
30,Senegal,2485.0,651.0,222.0,15.0,27.0,26.0,51.0,23.0,56.0,26.0,48.0,249.0,92.0,366.0,25.0,52.0,71.0,280.0,87.0,50.0,53.0,15.0
31,India,2218.0,151.0,83.0,53.0,232.0,204.0,165.0,99.0,92.0,54.0,87.0,70.0,60.0,109.0,17.0,178.0,174.0,91.0,35.0,12.0,228.0,24.0
32,Países Bajos,1899.0,277.0,83.0,89.0,181.0,101.0,106.0,118.0,90.0,90.0,60.0,101.0,43.0,76.0,23.0,118.0,143.0,56.0,23.0,12.0,76.0,33.0
33,Guatemala,1786.0,87.0,31.0,34.0,108.0,64.0,95.0,67.0,77.0,39.0,197.0,234.0,112.0,174.0,28.0,103.0,83.0,104.0,29.0,34.0,80.0,6.0
34,Irán,1673.0,151.0,53.0,33.0,74.0,84.0,152.0,57.0,223.0,66.0,55.0,78.0,43.0,47.0,22.0,171.0,220.0,37.0,34.0,14.0,54.0,5.0
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Resto de países (1),38770.0,4054.0,1385.0,1026.0,2512.0,1670.0,1975.0,1858.0,2006.0,1381.0,2299.0,2838.0,1342.0,3151.0,579.0,2007.0,2354.0,2903.0,832.0,644.0,1581.0,373.0
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NOTAS: (1) Países con menos de 1.500 residente...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,El 'Total' de la población de ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,FUENTE: Elaboración propia a partir del Padrón...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df_num = df_distritos2.select_dtypes(include=np.number)

In [59]:
for col in df_num.columns:
    print(col)
    print(df_num[col].max())
    print("....")

Ciudad-Madrid
51983.0
....
Centro
4494.0
....
Arganzuela
1867.0
....
Retiro
1294.0
....
Salamanca
3210.0
....
Chamartín
1670.0
....
Tetuán
5296.0
....
Chamberí
2392.0
....
Fuencarral-El-Pardo
2657.0
....
MOncloa-Aravaca
1381.0
....
Latina
4226.0
....
Carabanchel
7093.0
....
Usera
9614.0
....
Puente-de-Vallecas
4982.0
....
Moratalaz
1481.0
....
Ciudad-Lineal
4025.0
....
Hortaleza
2803.0
....
Villaverde
3569.0
....
Villa-de-Vallecas
3003.0
....
VIcalvaro
2438.0
....
San-Blas-Canillejas
3418.0
....
Barajas
580.0
....

In [61]:
df_distritos2.head(100)

,Nacionalidad,Ciudad-Madrid,Centro,Arganzuela,Retiro,Salamanca,Chamartín,Tetuán,Chamberí,Fuencarral-El-Pardo,MOncloa-Aravaca,Latina,Carabanchel,Usera,Puente-de-Vallecas,Moratalaz,Ciudad-Lineal,Hortaleza,Villaverde,Villa-de-Vallecas,VIcalvaro,San-Blas-Canillejas,Barajas
0,Venezuela,51983.0,3148.0,1671.0,1039.0,2193.0,1187.0,2607.0,1269.0,2657.0,1062.0,3760.0,4546.0,2163.0,4918.0,1481.0,4025.0,2803.0,2868.0,3003.0,1585.0,3418.0,580.0
1,Colombia,45295.0,2061.0,1139.0,668.0,1334.0,762.0,1764.0,1122.0,1706.0,807.0,3958.0,7093.0,3320.0,4385.0,964.0,3385.0,1735.0,3569.0,1595.0,924.0,2545.0,459.0
2,Rumanía,39729.0,765.0,608.0,382.0,647.0,516.0,1167.0,517.0,1534.0,885.0,4226.0,5248.0,1992.0,4428.0,1122.0,2478.0,1296.0,3488.0,2940.0,2438.0,2519.0,533.0
3,Perú,37398.0,1177.0,786.0,589.0,1122.0,623.0,1689.0,918.0,1259.0,701.0,4146.0,5073.0,2374.0,4982.0,1008.0,2994.0,1069.0,2662.0,1275.0,824.0,1914.0,213.0
4,China,35985.0,1403.0,1078.0,469.0,655.0,517.0,1904.0,679.0,1404.0,727.0,2387.0,4538.0,9614.0,3393.0,457.0,1920.0,1154.0,1289.0,771.0,437.0,1001.0,188.0
5,Italia,32131.0,4494.0,1867.0,1294.0,3210.0,1563.0,1847.0,2392.0,1742.0,1188.0,1265.0,1444.0,601.0,1078.0,519.0,1947.0,2073.0,493.0,912.0,435.0,1285.0,482.0
6,Honduras,28469.0,309.0,359.0,351.0,461.0,547.0,1084.0,416.0,1306.0,513.0,3640.0,5611.0,2144.0,4380.0,492.0,1734.0,593.0,2191.0,655.0,375.0,1187.0,121.0
7,Ecuador,21860.0,554.0,560.0,217.0,633.0,326.0,1064.0,380.0,548.0,317.0,2073.0,3472.0,1633.0,3169.0,443.0,2090.0,387.0,2014.0,479.0,411.0,989.0,101.0
8,Marruecos,21428.0,1035.0,366.0,189.0,389.0,328.0,1277.0,343.0,947.0,339.0,1461.0,2274.0,874.0,3291.0,266.0,839.0,425.0,3358.0,1569.0,816.0,756.0,286.0
9,Paraguay,20406.0,363.0,451.0,197.0,445.0,571.0,3190.0,470.0,1093.0,662.0,2370.0,2543.0,939.0,1555.0,408.0,1707.0,679.0,1281.0,228.0,311.0,744.0,199.0
10,República Dominicana,15488.0,333.0,471.0,137.0,334.0,242.0,1778.0,333.0,537.0,296.0,1359.0,1427.0,1116.0,1986.0,218.0,1309.0,279.0,1899.0,310.0,134.0,921.0,69.0
11,Filipinas,14173.0,1315.0,569.0,141.0,595.0,632.0,5296.0,758.0,466.0,627.0,823.0,521.0,395.0,498.0,79.0,649.0,292.0,214.0,39.0,45.0,194.0,25.0
12,Portugal,13020.0,967.0,464.0,294.0,838.0,597.0,795.0,637.0,850.0,405.0,693.0,823.0,365.0,789.0,342.0,864.0,984.0,397.0,526.0,388.0,808.0,194.0
13,Francia,12494.0,2267.0,582.0,504.0,1404.0,758.0,554.0,931.0,399.0,440.0,305.0,220.0,110.0,191.0,83.0,745.0,2144.0,100.0,87.0,75.0,382.0,213.0
14,Bolivia,11462.0,201.0,259.0,149.0,228.0,188.0,351.0,194.0,266.0,156.0,1194.0,1995.0,2400.0,1181.0,174.0,757.0,347.0,657.0,179.0,140.0,392.0,54.0
15,Ucrania,10689.0,212.0,196.0,156.0,256.0,236.0,257.0,170.0,417.0,234.0,1883.0,1300.0,534.0,974.0,217.0,448.0,392.0,1810.0,276.0,203.0,455.0,63.0
16,Brasil,9361.0,659.0,259.0,319.0,356.0,347.0,532.0,313.0,365.0,239.0,1120.0,1552.0,431.0,683.0,156.0,433.0,370.0,471.0,217.0,122.0,335.0,82.0
17,Nicaragua,8309.0,151.0,134.0,108.0,212.0,276.0,351.0,163.0,307.0,196.0,850.0,1134.0,565.0,1178.0,313.0,889.0,236.0,521.0,151.0,127.0,407.0,40.0
18,Estados Unidos de América,8261.0,2256.0,472.0,471.0,851.0,430.0,424.0,821.0,296.0,485.0,226.0,165.0,116.0,157.0,209.0,272.0,287.0,62.0,57.0,32.0,119.0,53.0
19,Argentina,8227.0,1007.0,423.0,310.0,657.0,337.0,484.0,468.0,438.0,307.0,439.0,593.0,319.0,430.0,111.0,500.0,508.0,228.0,162.0,89.0,295.0,122.0
20,Reino Unido,7762.0,1850.0,442.0,312.0,625.0,538.0,416.0,646.0,322.0,404.0,305.0,234.0,120.0,166.0,67.0,373.0,463.0,82.0,70.0,50.0,186.0,91.0
21,Cuba,7535.0,521.0,290.0,184.0,211.0,181.0,375.0,226.0,296.0,146.0,514.0,861.0,515.0,704.0,150.0,641.0,328.0,418.0,247.0,141.0,498.0,88.0
22,Bulgaria,6948.0,225.0,138.0,104.0,121.0,117.0,198.0,71.0,222.0,139.0,823.0,877.0,329.0,675.0,229.0,691.0,281.0,502.0,243.0,289.0,595.0,79.0
23,México,6318.0,972.0,292.0,344.0,962.0,360.0,341.0,606.0,304.0,297.0,248.0,260.0,93.0,162.0,64.0,276.0,343.0,66.0,80.0,46.0,160.0,42.0
24,Bangladesh,6193.0,2576.0,334.0,35.0,29.0,28.0,248.0,63.0,23.0,17.0,243.0,442.0,227.0,718.0,35.0,159.0,29.0,802.0,66.0,54.0,62.0,3.0
25,El Salvador,5706.0,167.0,105.0,66.0,106.0,157.0,232.0,94.0,185.0,67.0,493.0,842.0,399.0,929.0,128.0,388.0,162.0,528.0,131.0,131.0,353.0,43.0
26,Alemania,5551.0,741.0,236.0,232.0,579.0,434.0,279.0,419.0,701.0,321.0,161.0,177.0,81.0,109.0,51.0,266.0,388.0,47.0,50.0,43.0,141.0,95.0
27,Polonia,5454.0,326.0,176.0,105.0,167.0,152.0,223.0,158.0,197.0,143.0,698.0,661.0,288.0,417.0,90.0,259.0,246.0,477.0,160.0,259.0,189.0,63.0
28,Chile,3329.0,440.0,160.0,114.0,309.0,139.0,162.0,284.0,170.0,126.0,208.0,183.0,94.0,150.0,89.0,210.0,157.0,100.0,64.0,35.0,115.0,20.0
29,Rusia,2781.0,267.0,123.0,111.0,214.0,141.0,169.0,120.0,161.0,112.0,164.0,136.0,83.0,171.0,44.0,163.0,211.0,117.0,83.0,42.0,106.0,43.0
30,Senegal,2485.0,651.0,222.0,15.0,27.0,26.0,51.0,23.0,56.0,26.0,48.0,249.0,92.0,366.0,25.0,52.0,71.0,280.0,87.0,50.0,53.0,15.0
31,India,2218.0,151.0,83.0,53.0,232.0,204.0,165.0,99.0,92.0,54.0,87.0,70.0,60.0,109.0,17.0,178.0,174.0,91.0,35.0,12.0,228.0,24.0
32,Países Bajos,1899.0,277.0,83.0,89.0,181.0,101.0,106.0,118.0,90.0,90.0,60.0,101.0,43.0,76.0,23.0,118.0,143.0,56.0,23.0,12.0,76.0,33.0
33,Guatemala,1786.0,87.0,31.0,34.0,108.0,64.0,95.0,67.0,77.0,39.0,197.0,234.0,112.0,174.0,28.0,103.0,83.0,104.0,29.0,34.0,80.0,6.0
34,Irán,1673.0,151.0,53.0,33.0,74.0,84.0,152.0,57.0,223.0,66.0,55.0,78.0,43.0,47.0,22.0,171.0,220.0,37.0,34.0,14.0,54.0,5.0
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Resto de países (1),38770.0,4054.0,1385.0,1026.0,2512.0,1670.0,1975.0,1858.0,2006.0,1381.0,2299.0,2838.0,1342.0,3151.0,579.0,2007.0,2354.0,2903.0,832.0,644.0,1581.0,373.0
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NOTAS: (1) Países con menos de 1.500 residente...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,El 'Total' de la población de ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,FUENTE: Elaboración propia a partir del Padrón...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)

In [ ]:
df_distritos2['Nacionalidad'].unique()

array(['Venezuela', 'Colombia', 'Rumanía', 'Perú', 'China', 'Italia',
       'Honduras', 'Ecuador', 'Marruecos', 'Paraguay',
       'República Dominicana', 'Filipinas', 'Portugal', 'Francia',
       'Bolivia', 'Ucrania', 'Brasil', 'Nicaragua',
       'Estados Unidos de América', 'Argentina', 'Reino Unido', 'Cuba',
       'Bulgaria', 'México', 'Bangladesh', 'El Salvador', 'Alemania',
       'Polonia', 'Chile', 'Rusia', 'Senegal', 'India', 'Países Bajos',
       'Guatemala', 'Irán', nan, 'Resto de países (1)',
       'NOTAS: (1) Países con menos de 1.500 residentes en la Ciudad de Madrid a 1 de julio de 2022',
       "                El 'Total' de la población de la Ciudad de Madrid incluye 'Apátridas' y 'No consta'",
       'FUENTE: Elaboración propia a partir del Padrón Municipal de Habitantes (datos provisionales). Subdirección General de Estadística'],
      dtype=object)

In [ ]:
df_distrito = {'Ciudad-Madrid': 51983, 'Centro': 4494 , 'Arganzuela': 1807, 'Retiro': 1294, 'Salamanca': 3210,
       'Chamartín': 1670, 'Tetuán': 5296, 'Chamberí': 2382, 'Fuencarral-El-Pardo': 2657,
       'MOncloa-Aravaca': 1188, 'Latina': 4226, 'Carabanchel': 7093, 'Usera': 9619,
       'Puente-de-Vallecas' : 4982, 'Moratalaz': 1481, 'Ciudad-Lineal': 4025, 'Hortaleza': 2803,
       'Villaverde': 3569, 'Villa-de-Vallecas': 3003, 'Vicalvaro': 2438, 'San-Blas-Canillejas': 3418,
       'Barajas': 580}

In [ ]:
df = pd.DataFrame(list(df_distrito.items()), columns=['Distrito', 'Población'])

In [ ]:
df.head() #las nacionalidades para cada distritos (22)

        Distrito  Población
0  Ciudad-Madrid      51983
1         Centro       4494
2     Arganzuela       1807
3         Retiro       1294
4      Salamanca       3210

In [ ]:
lista_nacionalidad = ['Venezuela']

In [ ]:
df['Nacionalidad1'] = [1, 2, 3, 4, 5, 6, 7, 8, 8,8,8 ,8,8, 8,8,88,8,8,8,8,8,8]

In [ ]:
df_nacionalidad = pd.DataFrame()

In [ ]:
df_nacionalidad = df_distritos2.iloc[:-5]

In [ ]:
df_nacionalidad.shape

(36, 23)

In [ ]:
df_nacionalidad

,Nacionalidad,Ciudad-Madrid,Centro,Arganzuela,Retiro,Salamanca,Chamartín,Tetuán,Chamberí,Fuencarral-El-Pardo,MOncloa-Aravaca,Latina,Carabanchel,Usera,Puente-de-Vallecas,Moratalaz,Ciudad-Lineal,Hortaleza,Villaverde,Villa-de-Vallecas,VIcalvaro,San-Blas-Canillejas,Barajas
0,Venezuela,51983.0,3148.0,1671.0,1039.0,2193.0,1187.0,2607.0,1269.0,2657.0,1062.0,3760.0,4546.0,2163.0,4918.0,1481.0,4025.0,2803.0,2868.0,3003.0,1585.0,3418.0,580.0
1,Colombia,45295.0,2061.0,1139.0,668.0,1334.0,762.0,1764.0,1122.0,1706.0,807.0,3958.0,7093.0,3320.0,4385.0,964.0,3385.0,1735.0,3569.0,1595.0,924.0,2545.0,459.0
2,Rumanía,39729.0,765.0,608.0,382.0,647.0,516.0,1167.0,517.0,1534.0,885.0,4226.0,5248.0,1992.0,4428.0,1122.0,2478.0,1296.0,3488.0,2940.0,2438.0,2519.0,533.0
3,Perú,37398.0,1177.0,786.0,589.0,1122.0,623.0,1689.0,918.0,1259.0,701.0,4146.0,5073.0,2374.0,4982.0,1008.0,2994.0,1069.0,2662.0,1275.0,824.0,1914.0,213.0
4,China,35985.0,1403.0,1078.0,469.0,655.0,517.0,1904.0,679.0,1404.0,727.0,2387.0,4538.0,9614.0,3393.0,457.0,1920.0,1154.0,1289.0,771.0,437.0,1001.0,188.0
5,Italia,32131.0,4494.0,1867.0,1294.0,3210.0,1563.0,1847.0,2392.0,1742.0,1188.0,1265.0,1444.0,601.0,1078.0,519.0,1947.0,2073.0,493.0,912.0,435.0,1285.0,482.0
6,Honduras,28469.0,309.0,359.0,351.0,461.0,547.0,1084.0,416.0,1306.0,513.0,3640.0,5611.0,2144.0,4380.0,492.0,1734.0,593.0,2191.0,655.0,375.0,1187.0,121.0
7,Ecuador,21860.0,554.0,560.0,217.0,633.0,326.0,1064.0,380.0,548.0,317.0,2073.0,3472.0,1633.0,3169.0,443.0,2090.0,387.0,2014.0,479.0,411.0,989.0,101.0
8,Marruecos,21428.0,1035.0,366.0,189.0,389.0,328.0,1277.0,343.0,947.0,339.0,1461.0,2274.0,874.0,3291.0,266.0,839.0,425.0,3358.0,1569.0,816.0,756.0,286.0
9,Paraguay,20406.0,363.0,451.0,197.0,445.0,571.0,3190.0,470.0,1093.0,662.0,2370.0,2543.0,939.0,1555.0,408.0,1707.0,679.0,1281.0,228.0,311.0,744.0,199.0
10,República Dominicana,15488.0,333.0,471.0,137.0,334.0,242.0,1778.0,333.0,537.0,296.0,1359.0,1427.0,1116.0,1986.0,218.0,1309.0,279.0,1899.0,310.0,134.0,921.0,69.0
11,Filipinas,14173.0,1315.0,569.0,141.0,595.0,632.0,5296.0,758.0,466.0,627.0,823.0,521.0,395.0,498.0,79.0,649.0,292.0,214.0,39.0,45.0,194.0,25.0
12,Portugal,13020.0,967.0,464.0,294.0,838.0,597.0,795.0,637.0,850.0,405.0,693.0,823.0,365.0,789.0,342.0,864.0,984.0,397.0,526.0,388.0,808.0,194.0
13,Francia,12494.0,2267.0,582.0,504.0,1404.0,758.0,554.0,931.0,399.0,440.0,305.0,220.0,110.0,191.0,83.0,745.0,2144.0,100.0,87.0,75.0,382.0,213.0
14,Bolivia,11462.0,201.0,259.0,149.0,228.0,188.0,351.0,194.0,266.0,156.0,1194.0,1995.0,2400.0,1181.0,174.0,757.0,347.0,657.0,179.0,140.0,392.0,54.0
15,Ucrania,10689.0,212.0,196.0,156.0,256.0,236.0,257.0,170.0,417.0,234.0,1883.0,1300.0,534.0,974.0,217.0,448.0,392.0,1810.0,276.0,203.0,455.0,63.0
16,Brasil,9361.0,659.0,259.0,319.0,356.0,347.0,532.0,313.0,365.0,239.0,1120.0,1552.0,431.0,683.0,156.0,433.0,370.0,471.0,217.0,122.0,335.0,82.0
17,Nicaragua,8309.0,151.0,134.0,108.0,212.0,276.0,351.0,163.0,307.0,196.0,850.0,1134.0,565.0,1178.0,313.0,889.0,236.0,521.0,151.0,127.0,407.0,40.0
18,Estados Unidos de América,8261.0,2256.0,472.0,471.0,851.0,430.0,424.0,821.0,296.0,485.0,226.0,165.0,116.0,157.0,209.0,272.0,287.0,62.0,57.0,32.0,119.0,53.0
19,Argentina,8227.0,1007.0,423.0,310.0,657.0,337.0,484.0,468.0,438.0,307.0,439.0,593.0,319.0,430.0,111.0,500.0,508.0,228.0,162.0,89.0,295.0,122.0
20,Reino Unido,7762.0,1850.0,442.0,312.0,625.0,538.0,416.0,646.0,322.0,404.0,305.0,234.0,120.0,166.0,67.0,373.0,463.0,82.0,70.0,50.0,186.0,91.0
21,Cuba,7535.0,521.0,290.0,184.0,211.0,181.0,375.0,226.0,296.0,146.0,514.0,861.0,515.0,704.0,150.0,641.0,328.0,418.0,247.0,141.0,498.0,88.0
22,Bulgaria,6948.0,225.0,138.0,104.0,121.0,117.0,198.0,71.0,222.0,139.0,823.0,877.0,329.0,675.0,229.0,691.0,281.0,502.0,243.0,289.0,595.0,79.0
23,México,6318.0,972.0,292.0,344.0,962.0,360.0,341.0,606.0,304.0,297.0,248.0,260.0,93.0,162.0,64.0,276.0,343.0,66.0,80.0,46.0,160.0,42.0
24,Bangladesh,6193.0,2576.0,334.0,35.0,29.0,28.0,248.0,63.0,23.0,17.0,243.0,442.0,227.0,718.0,35.0,159.0,29.0,802.0,66.0,54.0,62.0,3.0
25,El Salvador,5706.0,167.0,105.0,66.0,106.0,157.0,232.0,94.0,185.0,67.0,493.0,842.0,399.0,929.0,128.0,388.0,162.0,528.0,131.0,131.0,353.0,43.0
26,Alemania,5551.0,741.0,236.0,232.0,579.0,434.0,279.0,419.0,701.0,321.0,161.0,177.0,81.0,109.0,51.0,266.0,388.0,47.0,50.0,43.0,141.0,95.0
27,Polonia,5454.0,326.0,176.0,105.0,167.0,152.0,223.0,158.0,197.0,143.0,698.0,661.0,288.0,417.0,90.0,259.0,246.0,477.0,160.0,259.0,189.0,63.0
28,Chile,3329.0,440.0,160.0,114.0,309.0,139.0,162.0,284.0,170.0,126.0,208.0,183.0,94.0,150.0,89.0,210.0,157.0,100.0,64.0,35.0,115.0,20.0
29,Rusia,2781.0,267.0,123.0,111.0,214.0,141.0,169.0,120.0,161.0,112.0,164.0,136.0,83.0,171.0,44.0,163.0,211.0,117.0,83.0,42.0,106.0,43.0
30,Senegal,2485.0,651.0,222.0,15.0,27.0,26.0,51.0,23.0,56.0,26.0,48.0,249.0,92.0,366.0,25.0,52.0,71.0,280.0,87.0,50.0,53.0,15.0
31,India,2218.0,151.0,83.0,53.0,232.0,204.0,165.0,99.0,92.0,54.0,87.0,70.0,60.0,109.0,17.0,178.0,174.0,91.0,35.0,12.0,228.0,24.0
32,Países Bajos,1899.0,277.0,83.0,89.0,181.0,101.0,106.0,118.0,90.0,90.0,60.0,101.0,43.0,76.0,23.0,118.0,143.0,56.0,23.0,12.0,76.0,33.0
33,Guatemala,1786.0,87.0,31.0,34.0,108.0,64.0,95.0,67.0,77.0,39.0,197.0,234.0,112.0,174.0,28.0,103.0,83.0,104.0,29.0,34.0,80.0,6.0
34,Irán,1673.0,151.0,53.0,33.0,74.0,84.0,152.0,57.0,223.0,66.0,55.0,78.0,43.0,47.0,22.0,171.0,220.0,37.0,34.0,14.0,54.0,5.0
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_distritos2.to_csv('datos/inmigracion_distritos.csv')

In [ ]:
df_distritos2.to_excel('datos/inmigracion_distritos.xls')